#tab-container {
	margin: 40px;
	width: 680px;
	margin: 0 auto;
	margin-top: 70px;
}

#signup {
	border:1px solid #cccccc;
	width:600px;
	padding:40px;
	margin-bottom:70px;
}
#loginTab {
	border:1px solid #cccccc;
	width:600px;
	padding:40px;
		margin-bottom:70px;
		min-height: 250px;
}
.etabs {
	margin: 0;
	padding: 0;
}
.tab {
	display: inline-block;
	zoom:1;
*display:inline;
	background: #222222;
	border: solid 1px #999;
	border-bottom: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.tab a {
	font-size: 14px;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
}
.tab a:hover {
	text-decoration: none;
}
.tab.active {
	background: #fae150; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZTE1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmJhMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fae150), color-stop(100%, #f2ba2e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fae150 0%, #f2ba2e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae150', endColorstr='#f2ba2e', GradientType=0 ); /* IE6-8 */
	padding-top: 6px;
	position: relative;
	top: 1px;
	border-color: #666;
}
.tab a.active {
	font-weight: bold;
}
.tab-container .panel-container {
	background: #fff;
	border: solid #666 1px;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}
.button {
	border:0;
	padding:12px;
	cursor:pointer;
	background: #fae150; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZTE1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmJhMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fae150), color-stop(100%, #f2ba2e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fae150 0%, #f2ba2e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fae150 0%, #f2ba2e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae150', endColorstr='#f2ba2e', GradientType=0 ); /* IE6-8 */
}
.signUpPage {
	background:#ffffff none !important;
}
.pageContent {
	margin-top:100px;
	background:url(../img/pageContentShadow.png) top center no-repeat;
}
#signUp-Container {
	background:#f9f9f9;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ababab;
	margin-bottom:60px;
	margin-top: 20px;
	min-height:100px;
}
.formSecionTitle {
	float: left;
	margin-bottom: 20px;
	width: 400px;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
.formsectionDivider {
	width:100%;
	height:1px;
	background:#ababab;
	margin-top:5px;
}
.formBox {
	margin: 60px 0 40px 60px;
}
.formRow {
	float:left;
	margin: 0 0 20px;
}
label {
	float:left;
	width:460px;
	font-family:'Raleway', sans-serif;
	color:#6e6d6d;
}
.formInput {
	float:left;
	width:220px;
	border:1px solid #ababab;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:10px 0 10px 10px;
	font-size:12px;
}
.styled-select select {
	background: transparent;
	-webkit-appearance: none;
	width:250px;
	border:0;
	padding:8px 0 10px 10px;
	font-size:12px;
}
.styled-select {
	width: 230px;
	height: 34px;
	overflow: hidden;
	background: url(../img/selectDropArrow.png) no-repeat right;
	border:1px solid #ababab;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.rightAds {
	min-height:250px;
	background:blue;
	margin:60px 60px 0 0;
	float:right;
}
li.required {
	display: block;
	float: left;
	width: 300px;
}
li.type {
	display: block;
	float: left;
	width: 300px;
}
.ui-tooltip {
	font-size:0.8em;
	max-width:200px;
	border:1px solid #c93;
	padding:8px 12px;
	line-height:1.3em;
	background:#ffc;
	-moz-box-shadow:1px 1px 2px #ddd;
	-webkit-box-shadow:1px 1px 2px #ddd;
	box-shadow:1px 1px 2px #ddd;
}
.ui-tooltip-arrow {
	position:absolute;
	left:-10px;
	top:5px;
	width:10px;
	height:19px;
	background:url(/demo/jquery-formtip/pointer.gif) left top no-repeat;
}
.signUpLabel {
	float:left;
}
.signUp-Process {
	margin-top:50px;
	height:240px;
	width:600px;
}
.signUp-ProcessInfo {
	border:1px solid #cccccc;
	border-radius:4px;
	padding:10px;
	width:120px !important;
	height:216px;
}
.ProcessInfoImage {
	width:120px;
	margin:0 auto;
	margin-top:0px;
	margin-bottom:15px;
}
.ProcessInfoMessage {
	width:95%;
	margin:0 auto;
	margin-bottom:15px;
	text-align:center;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif
}
